<h1 class="text-3xl font-bold mb-10">Weather Forecast</h1>

<div class="max-w-[400px] mb-8">
  <%= form_tag '/', method: :get do %>
    <div class="mb-4">
      <label for="postal" class="label">Postal Code</label>

      <input
        type="text"
        id="postal"
        name="postal"
        class="input"
        required="required"
        value="<%= @postal %>"
      >
    </div>

    <button class="btn">Submit</button>
  <% end %>
</div>

<% if @has_error %>
  <div class="text-red-500 font-semibold">
    An error occured. Please try again.
  </div>
<% end %>

<% if !@has_error && @forecast.present? %>
  <div class="mb-4">
    The current temperature for <%= @postal %> is <strong><%= @forecast[:temp_current] %>°</strong>.
  </div>

  <div>
    The high for today: <strong><%= @forecast[:temp_high] %>°</strong>
  </div>

  <div>
    The low for today: <strong><%= @forecast[:temp_low] %>°</strong>
  </div>

  <% if @is_cached %>
    <div class="mt-4 text-sm">
      (fetched from cache)
    </div>
  <% end %>
<% end %>